---
import type { HeadingElement } from "slate-blocks/textual"

interface Props extends HeadingElement {}

const { type } = Astro.props
---

{
  type === "h1" && (
    <h1>
      <slot />
    </h1>
  )
}

{
  type === "h2" && (
    <h2>
      <slot />
    </h2>
  )
}

{
  type === "h3" && (
    <h3>
      <slot />
    </h3>
  )
}

{
  type === "h4" && (
    <h4>
      <slot />
    </h4>
  )
}

{
  type === "h5" && (
    <h5>
      <slot />
    </h5>
  )
}

{
  type === "h6" && (
    <h6>
      <slot />
    </h6>
  )
}
