.blogHeader {
  @apply relative bg-white py-10 overflow-hidden;

  &::before,
  &::after {
    content: "";
    @apply absolute block bg-no-repeat w-56 h-28 opacity-25;
    background-image: url(../../../images/header-pattern.svg);
    background-size: 100% 100%;
  }
  &::before {
    @apply left-0 top-0 bg-left-top -ml-12 mt-3;
  }
  &::after {
    @apply right-0 bottom-0 bg-left-bottom transform rotate-180 opacity-50 -mr-12;
  }
}

.blogHeaderTitle {
  @apply text-4xl;
}

.blogHeaderCategories {
  @apply flex overflow-x-auto py-4 px-3;
}

.blogHeaderCategoriesItem {
  @apply mx-3;
  &:first-of-type {
    @apply -ml-3;
  }
}

.blogHeaderCategoriesLink {
  @apply px-8 py-4 rounded-full;
  @apply text-sm font-semibold text-gray-600;
  @apply bg-white border-2 border-gray-200;
  @apply transition duration-500;

  &:hover {
    @apply bg-gray-600 bg-opacity-5;
  }

  &.active {
    @apply border-2 border-accent text-accent bg-accent bg-opacity-5;
  }
}
