.hero {
  @apply relative py-16;
  background-image: url(../../images/hero-bg.svg);
  background-position: top center;

  &::before {
    @apply absolute top-0 inset-x-0 h-full -z-1;
    content: "";
    background: url(../../images/hero-mask.svg);
    background-size: 100% 100%;
    height: calc(100% + 150px);
  }

  .hero-title {
    @apply leading-tight mt-24 mb-12;
  }
  .hero-description {}
  .hero-tagline {
    @apply inline-block border-b-4 border-accent mt-16 mb-40;
  }
  .hero-cta {
    @apply inline-flex items-center text-gray-800;

    svg {
      @apply mr-2 h-4;
    }
  }
}