html {
  @apply bg-gray-100;
}

body {
  @apply font-sans text-gray-900 antialiased;
  @apply text-sm md:text-base;
}

a {
  @apply cursor-pointer text-blue-500 no-underline transition duration-300;

  &:hover {
    @apply text-blue-400 no-underline transition duration-300;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight;
}

h1 {
  @apply mb-6 text-3xl font-extrabold;
  @screen lg {
    @apply mb-8;
  }
}
h2 {
  @apply mb-4 text-3xl font-extrabold;
  @screen lg {
    @apply mb-6;
  }
}
h3 {
  @apply mb-3 text-2xl font-extrabold;
  @screen lg {
    @apply mb-4;
  }
}
h4 {
  @apply mb-2 text-xl font-semibold;
  @screen lg {
    @apply mb-3;
  }
}
h5 {
  @apply mb-3 text-lg font-semibold;
  @screen lg {
    @apply mb-3;
  }
}
h6 {
  @apply text-base font-semibold;
  @screen lg {
    @apply mb-1;
  }
}

button,
input {
  &:focus {
    @apply outline-none ring-2 ring-primary-500/50;
  }
  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

blockquote {
  @apply border-l-4 border-gray-400 py-1 pl-2;
}

accent {
  @apply text-primary-500;
}

#iubenda_policy .iub_content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// TailwindCSS fix
*,
::before,
::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
    var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
