.blog-header {
  @apply relative bg-white py-10 overflow-hidden;

  &::before,
  &::after {
    content: "";
    @apply absolute block bg-no-repeat w-56 h-28 opacity-25;
    background-image: url(../../images/header-pattern.svg);
    background-size: 100% 100%;
  }
  &::before {
    @apply left-0 top-0 bg-left-top -ml-12 mt-3;
  }
  &::after {
    @apply right-0 bottom-0 bg-left-bottom transform rotate-180 opacity-50 -mr-12;
  }

  &-title {
    @apply text-4xl;
  }

  .blog-categories {
    @apply flex overflow-x-auto py-4 px-3;

    &-item {
      @apply px-8 py-4 mx-3 text-sm font-semibold bg-white rounded-lg border-2 border-gray-200
        text-gray-600 rounded-full cursor-pointer transition duration-500;

      &:first-of-type {
        @apply -ml-3;
      }
      &:hover {
        @apply bg-gray-600 bg-opacity-5;
      }

      &.active {
        @apply border-2 border-accent text-accent bg-accent bg-opacity-5;
      }
    }
  }
}
