.fontPalette {
  @apply flex flex-col p-3 w-full overflow-hidden;
  @apply border border-gray-300 rounded;
}

.fontPalettePreview {
  @apply relative pb-24 -mt-3 -mx-3 px-5 bg-gray-200;

  &.undefined {
    &::before {
      content: "ND";
      top: 50%;
      transform: translateY(-50%);
      @apply absolute w-full text-4xl font-semibold text-gray-400 text-center;
    }
  }
}

.fontPaletteName {
  @apply text-base font-semibold mt-3 mb-0;
}

.fontPaletteFontName {
  @apply text-xs text-gray-600 font-semibold mb-4;
}

.fontPaletteLink {
  @apply mt-auto ml-auto text-sm font-semibold;
}
