.header {
  @apply fixed top-0 inset-x-0 z-10 transition duration-300;

  &:not(.header-transparent),
  &-active {
    @apply bg-white shadow-sm;
  }

  .header-container {
    @apply flex flex-wrap items-center py-4;

    @screen lg {
      @apply flex-no-wrap;
    }

    .logo {
      img {
        max-height: 20px;
      }
    }

    .menu-toggle {
      @apply flex items-center ml-auto text-xs uppercase text-gray-800 font-semibold;

      &:focus,
      &:active {
        @apply shadow-none bg-transparent;
      }
      @screen lg {
        @apply hidden;
      }

      &-icon {
        @apply relative;
        width: 30px;
        height: 30px;

        .line-top,
        .line-bottom {
          @apply absolute left-0 top-0 w-full h-full transition duration-300;
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

          &::after {
            content: "";
            @apply block absolute bg-gray-900;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            left: 4px;
          }
        }
        .line-top {
          &::after {
            top: 10px;
          }
        }
        .line-bottom {
          &::after {
            bottom: 10px;
          }
        }

        &-active {
          .line-top {
            transform: rotate(45deg);
            &::after {
              top: 12px;
              left: 4px;
            }
          }
          .line-bottom {
            transform: rotate(-45deg);
            &::after {
              top: 14px;
              left: 6px;
            }
          }
        }
      }
    }

    .contextual-menu {
      @apply flex flex-wrap w-full origin-top transition duration-500;
      transform: scaleY(0);
      height: 0;

      &-active {
        transform: none;
        height: auto;
      }

      @screen lg {
        @apply flex-no-wrap h-auto;
        transform: none;
      }
    }

    .header-menu {
      @apply flex items-center flex-no-wrap;

      @screen lg {
        @apply px-4 ml-0;
      }

      &:first-of-type {
        @apply pl-0 -ml-2;
        @screen lg {
          @apply pl-4;
        }

        .header-link {
          @apply pl-0;
          @screen lg {
            @apply pl-3;
          }
        }
      }

      &-row {
        @apply w-full flex items-center flex-no-wrap overflow-x-auto py-2;
        @screen lg {
          @apply w-auto overflow-x-hidden py-0;
          &-fill {
            @apply flex-1;
          }
        }
      }

      &-left {
        @screen lg {
          @apply mr-auto;
        }
      }

      &-right {
        @screen lg {
          @apply ml-auto;
        }
      }

      &-extra {
        @apply w-full;

        @screen lg {
          @apply w-auto;
        }
      }

      .header-link {
        @apply px-3 py-2 text-sm text-gray-700 font-semibold transition duration-500;
        &:hover {
          @apply text-gray-600;
        }
      }

      &.landing-menu {
        @apply hidden;

        @screen sm {
          @apply flex;
        }

        .header-link {
          @apply relative px-4 py-2 text-gray-700;

          &:before {
            content: "";
            transform: scaleX(0);
            @apply block absolute left-0 right-0 bottom-0 ml-2 mr-2 mb-2 h-2 bg-accent
              origin-left opacity-0 -z-1 transition duration-500 ease-in-out;
          }

          &.active,
          &:hover {
            @apply text-gray-800;

            &::before {
              @apply opacity-50;
              transform: scaleX(1);
            }
          }

          &:first-of-type {
            @apply -ml-2 pl-4;
          }
        }
      }
    }

    .social-menu {
      .social-link {
        &:first-of-type {
          @apply pl-0;
        }
      }
    }
  }
}

.header + main {
  @apply pt-16;
}

.lang-menu-toggle {
  @apply ml-4;
}

.user-menu-link {
  @apply ml-4;

  .user-menu-avatar {
    @apply block w-5 h-5 rounded-full overflow-hidden;
  }
}

.projects-toggle {
  &:active,
  &:focus {
    @apply outline-none shadow-none;
  }
}
.projects-menu {
  @apply w-screen max-w-screen-md bg-white rounded-lg shadow-lg
    border border-gray-100 p-6 my-3;

  &-row {
    @apply w-full flex flex-wrap;
  }

  &-item {
    @apply flex items-center mb-3 px-3 py-2 w-full rounded-lg transition-colors duration-500;
    min-height: 5.5rem;
    @screen md {
      @apply w-1/2;
    }

    &:not(.disabled) {
      &:hover {
        @apply bg-gray-100;
      }
    }
    &.disabled {
      @apply opacity-50;
    }

    &-image {
      @apply w-1/3 pr-4;
    }
    &-info {
      @apply flex-1 text-sm font-semibold;

      .project-title {
        @apply text-gray-900;
      }
      .project-description {
        @apply text-xs text-gray-500 font-normal;
      }
    }
  }

  .project-soon-label {
    @apply text-gray-700 text-sm font-semibold mt-6 opacity-50 pl-3;
  }

  .dropdown-arrow {
    @apply shadow-lg border border-gray-200;
  }
}
