.dropdown {
  @apply relative;
}

.dropdownToggle {
  @apply whitespace-nowrap;
}

.dropdownToggleChevron {
  &:hover {
    &::after {
      @apply opacity-50;
    }
  }

  &::after {
    content: "";
    background-image: url(../../../images/icons/chevron-down.svg);
    @apply inline-block w-2 h-2;
    @apply ml-1 align-middle;
    @apply bg-center bg-no-repeat bg-contain;
    @apply transition duration-500;
  }

  &.active {
    &::after {
      @apply transform rotate-180 duration-200;
    }
  }
}

.dropdownMenu {
  @apply fixed transform origin-top scale-y-0;
  @apply transition duration-200;
  @apply z-20;

  &.active {
    @apply scale-y-100;
  }
}

.dropdownArrow {
  @apply fixed w-6 h-5;
  //clip-path: polygon(50% 0, 100% 100%, 0% 100%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 20px 12px;
  border-color: transparent transparent #fff transparent;
}

.dropdownBackdrop {
  @apply fixed left-0 top-0 w-full h-full bg-transparent z-20;

  &:active,
  &:focus {
    @apply outline-none;
  }
}
