.awards {
  @apply py-16;

  &-title {
    @apply text-4xl mb-4 text-center;
  }

  &-list {
    @apply flex flex-col items-center;
    @screen sm {
      @apply flex-row justify-evenly;
    }
  }

  &-item {
    @apply relative rounded-lg w-full max-w-64 p-6 text-center transition-all duration-500;

    &:hover {
      @apply bg-white shadow-lg;

      .awards-item-image {
        animation-name: color-image;
      }
    }

    &-image {
      @apply w-full relative bg-center bg-contain bg-no-repeat;
      padding-top: 100%;
      animation-name: uncolor-image;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;

      &::after {
        @apply absolute inset-0 bg-center bg-contain bg-no-repeat;
        content: "";
        background-image: url(../../images/award.svg);
      }

      @keyframes color-image {
        0% {
          filter: brightness(0);
        }
        100% {
          filter: brightness(1);
        }
      }
      @keyframes uncolor-image {
        100% {
          filter: brightness(0);
        }
      }
    }

    &-title {
      @apply mb-3;
    }

    &-description {
      @apply text-sm text-gray-800;
    }

    &-link {
      @apply block text-sm mt-6;
      &::after {
        content: "";
        @apply absolute inset-0;
      }
    }
  }
}
