---
import { Col } from "@/components/common/col"
import { Container } from "@/components/common/container"
import { Markdown } from "@/components/common/markdown"
import { Prose } from "@/components/common/prose"
import { Row } from "@/components/common/row"
import { PageCTA } from "@/components/site/page-cta"

import type { ViewProps } from "@/queries/fetch-props"

interface Props extends ViewProps<"page"> {}

const { data, lang } = Astro.props
---

<Container fluid>
  <Row className="bg-white py-12">
    <Col>
      <Container>
        <Row>
          <Col>
            <header class="mx-auto max-w-prose lg:text-lg">
              <h1 class="mb-2">{data.page.title}</h1>
              <p class="max-w-prose font-medium text-gray-600">{data.page.description}</p>
            </header>
          </Col>
        </Row>
      </Container>
    </Col>
  </Row>

  <Row>
    <Col>
      <Prose className="pt-8">
        <article>
          <Markdown rawMarkdown={data.page.contentText} />
        </article>
      </Prose>
    </Col>
  </Row>

  <Row>
    <Col>
      <PageCTA lang={lang} />
    </Col>
  </Row>
</Container>
