.comments {
  @apply mt-24;

  &-heading {
    @apply mr-3;
    margin-top: 0!important;
    margin-bottom: 0!important;
  }

  .thread-message {
    &-meta {
      @apply flex flex-wrap mb-4;
    }

    &-avatar {
      @apply w-6 h-6 rounded-full overflow-hidden;
      @screen md {
        @apply w-8 h-8;
      }
    }

    &-info {
      @apply flex-1 pl-2;
    }
    &-by {
      @apply flex items-center text-xs text-gray-500 leading-none my-0;
    }
    &-lang {
      @apply inline-block w-3 h-3 rounded-full mr-2;
    }
    &-name {
      @apply mr-2;

      &.verified {
        @apply text-gray-900 font-semibold cursor-default;
        &::after {
          content: "";
          background-image: url(../../images/icons/verified-user.svg);
          @apply inline-block mx-1 w-3 h-3 bg-center bg-no-repeat bg-contain;
        }
      }
    }
    &-comment {
      @apply block mt-1 leading-none text-gray-900;

      p {
        @apply mt-0 mb-1;
      }
    }

    &-actions {
      @apply w-full mt-2 text-xs;
    }

    &-replies {
      @apply pl-4;
      @screen md {
        @apply pl-8;
      }
    }
  }
}

.comments-form {
  @apply mb-6;

  &-replyto {
    // mobile fixed
    @apply fixed inset-x-0 top-0 m-10 p-8 rounded bg-white border border-gray-200 shadow-lg z-50
      transition duration-500 transform -translate-y-10;
    @screen sm {
      @apply static m-0 p-0 bg-transparent border-none shadow-none z-0;
    }

    &-msg {
      @apply mb-4;
      @screen sm {
        @apply hidden;
      }
    }
  }

  &-wrapper {
    @apply flex flex-wrap;
  }

  &-control {
    @apply w-full bg-transparent border border-gray-300 rounded-lg px-4 py-2
      transition duration-500;

    &:focus,
    &:active {
      @apply bg-white rounded-lg outline-none shadow-none border-accent z-10;
    }
    &::placeholder {
      @apply text-gray-500 text-sm;
    }
  }

  &-comment {
    @apply h-10;
  }
  &-name,
  &-email {
    @apply hidden;
    @screen lg {
      @apply w-1/2;
    }
  }

  .submit-comment {
    @apply hidden mt-3 flex-wrap justify-between w-full;
    @screen md {
      @apply flex-no-wrap;
    }

    .auth-user {
      @apply flex items-center text-sm my-1;

      &-label {
        @apply text-gray-600 mr-2 pl-1;
      }
      &-avatar {
        @apply mr-2 w-5 h-5 rounded-full;
      }
      &-name {
        @apply text-gray-700 font-semibold;
      }
    }
  }

  .close-form {
    @apply opacity-0;
  }

  &.active {
    @apply translate-y-0;

    .close-form {
      @apply opacity-100;
    }

    .comments-form-name,
    .comments-form-email {
      @apply block;
    }
    .submit-comment {
      @apply flex;
    }

    .comments-form-comment {
      @apply rounded-b-none h-auto;
    }
    .comments-form-name {
      @apply rounded-none;
      @screen lg {
        @apply rounded-bl-lg rounded-br-none -mt-px;
      }
    }
    .comments-form-email {
      @apply rounded-t-none;
      @screen lg {
        @apply rounded-bl-none rounded-br-lg -mt-px;
        &:not(:focus) {
          @apply border-l-0;
        }
      }
    }
  }
}

.close-form {
  @apply block text-xs mb-3;
}
