---
import { GitHubLogo } from "@/components/assets/brands"

import { Col } from "@/components/common/col"
import { Container } from "@/components/common/container"
import { Markdown } from "@/components/common/markdown"
import { Prose } from "@/components/common/prose"
import { Row } from "@/components/common/row"
import { t } from "@/utils/lang"

import type { ViewProps } from "@/queries/fetch-props"

interface Props extends ViewProps<"project"> {}

const { data, lang } = Astro.props
---

<Container className="py-8">
  <Row>
    <Col>
      <Prose className="mt-4">
        <article>
          <header class="flex flex-wrap md:flex-nowrap">
            <div class="my-3 ml-auto w-full text-right md:order-2 md:w-auto">
              {
                data.project.githubLink && (
                  <a
                    href={data.project.githubLink}
                    class="ml-auto text-sm text-gray-800 underline-offset-4 hover:text-black"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <GitHubLogo className="inline-block" height="16" />
                    {t("project:viewOnGithub", { lng: lang })}
                  </a>
                )
              }
            </div>
          </header>

          <h1 class="font-sans">{data.project.title}</h1>

          <Markdown rawMarkdown={data.project.content} />
        </article>
      </Prose>
    </Col>
  </Row>
</Container>
