---
import { Image as AstroImg } from "astro:assets"

import gatewayImg from "@/assets/anthill.png"

import Layout from "@/astro/layout/layout.astro"
import { ProductSubscriptionForm } from "@/components/landing/product-subscription-form"
---

<Layout title="Etherna Gateway" description="A game changer for cloud storage" lang="en">
  <div class="container flex flex-col items-center gap-y-12 py-12 md:flex-row-reverse">
    <AstroImg src={gatewayImg} alt="Etherna Gateway" class="w-full max-w-64 xl:max-w-80" />
    <div class="flex flex-1 flex-col items-center md:items-start">
      <h1 class="text-3xl font-extrabold text-gradient md:text-4xl lg:text-5xl">Etherna Anthill</h1>
      <p
        class="max-w-screen-sm text-center text-base font-medium text-gray-500 md:text-left lg:text-lg"
      >
        A drop-in replacement for AWS S3, Cloudflare R2 or any other cloud object storage
        available... And of course, it's decentralized!
      </p>
    </div>
  </div>

  <div class="bg-white py-20">
    <ul class="container grid grid-cols-1 gap-4 xs:grid-cols-2 sm:grid-cols-3 sm:gap-8">
      <li class="flex flex-col">
        <h3 class="mb-1 text-base">DDOS resistant</h3>
        <p class="text-sm text-gray-400">
          A decentralized storage is a resistent one, as it is not a single point of failure
        </p>
      </li>
      <li class="flex flex-col">
        <h3 class="mb-1 text-base">Best compatibility</h3>
        <p class="text-sm text-gray-400">
          Anthill is compatible with any S3-compatible client, making it easy to integrate
        </p>
      </li>
      <li class="flex flex-col">
        <h3 class="mb-1 text-base">Fast</h3>
        <p class="text-sm text-gray-400">
          Data is retrieved from the nearest node, reducing latency and increasing speed
        </p>
      </li>
    </ul>
  </div>

  <div class="bg-gradient-to-b from-white to-gray-200 py-20">
    <div class="container flex flex-col items-center text-center">
      <h2>Subscribe for future updates</h2>
      <p class="max-w-sm text-sm text-gray-500">
        Anthill is still under development. Subscribe to our newsletter to get updates on our
        progress.
      </p>

      <div class="mt-12 w-full max-w-sm md:mt-20">
        <ProductSubscriptionForm client:idle />
      </div>
    </div>
  </div>
</Layout>
