---
import "@/styles/globals.css"

import Footer from "./_footer.astro"
import Head from "./_head.astro"
import Header from "./_header.astro"
import { Body } from "@/components/layout/body"

import type { Locale } from "@/lang/types"

interface Props {
  title: string
  description?: string | null
  image?: string
  locale: Locale
}

const { title, description, image, locale } = Astro.props
---

<html lang={locale}>
  <head>
    <Head title={title} description={description} image={image} />
  </head>
  <body>
    <Body>
      <Header />
      <slot />
      <Footer />
    </Body>
  </body>
</html>
